# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../:\安迪\2020\大二下学期\组17_04_25_电子材料报告\1.project\Student Attendance Managerment0420(1)\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
